# .env.example — copia como .env y rellena los valores reales

# Aplicación
DEBUG=False
ENVIRONMENT=development

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=hydrov
POSTGRES_PASSWORD=cambia_esto
POSTGRES_DB=hydrov

# InfluxDB
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=cambia_esto
INFLUX_ORG=hydrov
INFLUX_BUCKET_TELEMETRY=sensor_telemetry
INFLUX_BUCKET_NASA=nasa_weather_cache

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# MQTT / HiveMQ Cloud
MQTT_HOST=tu-cluster.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=tu_usuario
MQTT_PASSWORD=cambia_esto

# NASA POWER
NASA_DEFAULT_LAT=19.4136
NASA_DEFAULT_LON=-99.0151

# Seguridad
SECRET_KEY=cambia_esto_por_un_secreto_largo_y_aleatorio